<ion-header>
  <ion-toolbar>
    <ion-title>Hello, {{Name}} <div class="col text-right">
        <ion-button color="primary" (click)="logout()" align="right" size="small">
          <ion-icon name="log-out-outline">Logout</ion-icon>
        </ion-button>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <ion-card>
      <ion-card-title>Schedule</ion-card-title>
      <calendar [eventSource]="eventSource" [calendarMode]="calendar.mode" [currentDate]="calendar.currentDate">
      </calendar>
    </ion-card>
  </ion-item>
  <ion-item>
    <h4>Selected Module: {{Module}}</h4>
</ion-item>
<ion-item>
    <ion-button color="warning" (click)="generateKey()">Generate and Add Key</ion-button>
    <ion-label aria-placeholder="Press the Button to Generate and Add a Key">:-  {{Key}}  </ion-label>
  </ion-item>
</ion-content>