.active-item-top {
    --ion-background-color: #F8FEFF;
    border-left: 8px solid #0083CD; // Samll bar in the left side in the side menu to show the active page.
}

.active-item-bottom {
    --ion-background-color: #F7FFFD;
    border-left: 8px solid #00BDBD; // Samll bar in the left side in the side menu to show the active page.
}