.register {
    padding: 1px;
    height: 100%;
    width: 100%;
    background-image: url(/assets/images/backgrounds/login.png);
    background-repeat: no-repeat;
    background-size:cover;
     
}
.card {
     text-align: center;
     margin-top: 50%;
     font-size: x-large;
     opacity: 0.9;
}
