<ion-app>
  <ion-menu side="start" content-id="main-content">
    <ion-header>
      <ion-toolbar translucent>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-card>
        <ion-item>
          <ion-avatar slot="start">
            <img [src]="View">
          </ion-avatar>
          <ion-label align="center">{{FName}} {{LName}}</ion-label>
        </ion-item>
      </ion-card>
      <ion-list>
        <ion-item>
          <ion-button expand="block" style="width:100%;" color="light">eSign<ion-icon name="checkmark-done" slot="start"
              color="primary" style="float: left;"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-item>
          <ion-button expand="block" style="width:100%;" color="light">Attendance<ion-icon name="paper-plane"
              slot="start" color="success"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-item>
          <ion-button expand="block" style="width:100%;" color="light">Notices<ion-icon name="alert-circle" slot="start"
              color="warning"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-item>
          <ion-button expand="block" style="width:100%;" color="light">EC Form
            <ion-icon name="mail" slot="start" color="secondary"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-item>
          <ion-button expand="block" style="width:100%;" color="light" (click)="goSettings()">Settings<ion-icon name="cog" slot="start"
              color="dark"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-content>
    <ion-footer>
      <ion-item>
        <ion-label>Designed and Developed by RPLS</ion-label>
      </ion-item>
    </ion-footer>
  </ion-menu>

  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Home</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
    </ion-content>
  </div>
</ion-app>