<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="eSign">
      <ion-icon name="checkmark-done-outline" color="success"></ion-icon>
      <ion-label>eSign</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Attendance">
      <ion-icon name="copy-outline" color="secondary"></ion-icon>
      <ion-label>Attendance</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Notices">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Notices and Calendar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="EC-Form">
      <ion-icon name="mail-outline" color="primary"></ion-icon>
      <ion-label>EC-Form</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Settings">
      <ion-icon name="cog-outline" color="dark"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
