<ion-app>
  

  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Attendence Report</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <!-- <div style="display: block"><canvas id="chart"  max="1" value="0"></canvas></div> -->
    <ion-card >
      <ion-card-header>
        Attendance Chart
      </ion-card-header>
      <ion-card-content>
        <canvas #ChartCanvas></canvas>
      </ion-card-content>
    </ion-card>
    </ion-content>
  </div>
</ion-app>