<ion-header style="height: 70px;">
  <ion-toolbar>


    <!-- This will add a button to show the side menu when the side menu is hidden in small screens -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    
    <ion-title style="position: absolute;
                      top: 40%;">Notices</ion-title>

    <!-- Header Contents Section -->
    <div style="position: absolute;
                right: 5px;
                top: 8px;">
      <!-- Notification Bell, Unread Notifications Count, Drop Down -->          

      <ion-button fill="clear" color="dark" style="width: 100px;
                                                  height: 45px;
                                                  background-color: white;" (click)="openNotificationPopover($event)">

        <!-- Notification Bell Icon -->
        <div style="height: 42px;
                  width: 42px;"> 
          <ion-icon name="notifications-outline" style="font-size: 35px;
                                                        position: absolute;
                                                        top: 5px;
                                                        left: 0px;"></ion-icon>
        </div>

          <!-- Arrow Icon -->
        <div style="position: absolute;
                    left: 50px;
                    top: 10px;
                    font-size: 26px;">
          <ion-icon name="chevron-down-outline"></ion-icon>
        </div>
        
      </ion-button>

    </div>



  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Importing js file -->
  <script src="../../../assets/js/accountNotices.js"></script>


  <!-- Vertical line in the center of the page -->
  <!--
  <div style="border-left: rgb(236, 236, 236) solid 2px;
              height: 100%;
              position: relative;
              left: 50%;">
  </div>
  -->


  <ion-grid>

    <ion-row>

      <ion-col size="12" size-lg="12" size-xl="6">

        <ion-card>
          <ion-card-header>
            <ion-card-title>
              Send New Notice
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>

            <ion-card id="newNoticeFormSection" style="background-color: #F3FAFC;">
              <ion-card-content style="margin-top: -20px;">

                <!-- Student and Lecturer Form Selection Buttons -->
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      <button id="newNoticeButtonStudent" (click)="showStudentForm()" style="background-color: #0B80D3;
                                                                                            letter-spacing: 5px;
                                                                                            margin-top: 5px;
                                                                                            color: #ffffff" class="btn btn-block">
                        <b>STUDENT</b>
                      </button> 
                    </ion-col>
                    
                    <ion-col>
                      <button id="newNoticeButtonLecturer" (click)="showLecturerForm()" style="background-color: #02A5D7;
                                                                                              letter-spacing: 5px;
                                                                                              margin-top: 5px;  
                                                                                              color: #ffffff" class="btn btn-block">
                        <b>LECTURER</b>
                      </button>
                    </ion-col>
                  </ion-row>
                </ion-grid>

                <!-- New Notice to Student Section -->
                <div id="newStudentNoticeSubmit" style="display: inline">
                
                  <form [formGroup]="newStudentNoticeSendForm" (ngSubmit)="doNewStudentNoticeSend(newStudentNoticeSendForm.value)">
                    <ion-grid>
                      <ion-row>

                        <ion-col size="4" size-sm="12" size-lg="4" size-xl="4">
                          <ion-label class="newNoticeFormLabel">
                            Notice Title
                          </ion-label>
                        </ion-col>
                        <ion-col size="8" size-sm="12" size-lg="8" size-xl="8">
                          <ion-item>
                            <ion-input type="text" style="min-width: 100%;" placeholder="Enter Title" clearInput formControlName="noticeTitle"></ion-input>
                          </ion-item>
                        </ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col size="4" size-sm="12" size-lg="4" size-xl="4">
                          <ion-label class="newNoticeFormLabel">
                            Notice Description
                          </ion-label>
                        </ion-col>
                        <ion-col size="8" size-sm="12" size-lg="8" size-xl="8">
                          <ion-item>
                            <ion-textarea rows=11 style="height: 300px;
                                                        min-width: 100%;" placeholder="Enter Description" formControlName="noticeDescription"></ion-textarea>
                          </ion-item>
                        </ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col size="4" size-sm="12" size-lg="4" size-xl="4">
                          <ion-label class="newNoticeFormLabel">
                            Notice Category
                          </ion-label>
                        </ion-col>
                        <ion-col size="8" size-sm="12" size-lg="8" size-xl="8">
                          <ion-item>
                            <ion-select interface="popover" style="min-width: 100%;" placeholder="Select Category" formControlName="noticeCategory">
                              <ion-select-option *ngFor="let item of publishedNoticeCategories" value="{{ item.payload.doc.data().category }}">
                                {{ item.payload.doc.data().category }}
                              </ion-select-option>
                            </ion-select>
                          </ion-item>
                        </ion-col>
                      </ion-row>

                      <ion-row>
                        <ion-col size="4" size-sm="12" size-lg="4" size-xl="4">
                          <ion-label class="newNoticeFormLabel">
                            Notice Recipient
                          </ion-label>
                        </ion-col>
                        <ion-col size="8" size-sm="12" size-lg="8" size-xl="8">
                          <ion-row>
                            <ion-item style="width: 100%;">
                              <ion-select multiple="true" cancelText="Close" okText="SELECT" placeholder="Select Module" style="min-width: 100%;" formControlName="noticeRecipientModule" style="min-width: 100%;">
                                <ion-select-option *ngFor="let item of registeredModules" value="{{ item.payload.doc.data().moduleCode }}">
                                  {{ item.payload.doc.data().moduleCode }} - {{ item.payload.doc.data().moduleTitle }}
                                </ion-select-option>
                              </ion-select>
                            </ion-item>
                          </ion-row>
                          <ion-row>
                            <ion-label style="position: relative;
                                              left: 50%;
                                              transform: translateX(-50%);">
                              <p>OR</p>
                            </ion-label>
                          </ion-row>
                          <ion-row>
                            <ion-item style="width: 100%;">
                              <ion-select multiple="true" cancelText="Close" okText="SELECT" placeholder="Select Batch" formControlName="noticeRecipientBatch" style="min-width: 100%;">
                                <ion-select-option *ngFor="let item of publishedBatches" value="{{ item.payload.doc.data().batch }}">
                                  {{ item.payload.doc.data().batch }}
                                </ion-select-option>
                              </ion-select>
                            </ion-item>
                          </ion-row>
                        </ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col size="4" size-sm="12" size-lg="4" size-xl="4">
                          <ion-label class="newNoticeFormLabel">
                            Notice Author
                          </ion-label>
                        </ion-col>
                        <ion-col size="8" size-sm="12" size-lg="8" size-xl="8">
                          <ion-item>
                            <ion-input type="text" value="Program Office: {{ userFaculty }}" readOnly style="min-width: 100%;"></ion-input>
                          </ion-item>
                        </ion-col>
                      </ion-row>

                      <ion-row>
                        <ion-col size="12" size-lg="12" size-xl="6" style="position: relative;
                                                                          left: 50%;
                                                                          transform: translateX(-50%);">
                          <ion-button expand="block" type="submit" [disabled]="!newStudentNoticeSendForm.valid">
                            Send Notice
                          </ion-button>
                        </ion-col>
                      </ion-row>
                     


                    </ion-grid>
                  </form>

                  
                </div>
                
                <!-- Send New Notice to Lecturer -->
                <div id="newLecturerNoticeSubmit" style="display: none;">
                  <form [formGroup]="newLecturerNoticeSendForm" (ngSubmit)="doNewLecturerNoticeSendForm(newLecturerNoticeSendForm.value)">
                    <ion-grid>
                      <ion-row>

                        <ion-col size="4" size-sm="12" size-lg="4" size-xl="4">
                          <ion-label class="newNoticeFormLabel">
                            Notice Title
                          </ion-label>
                        </ion-col>
                        <ion-col size="8" size-sm="12" size-lg="8" size-xl="8">
                          <ion-item>
                            <ion-input type="text" clearInput placeholder="Enter Title" style="min-width: 100%;" formControlName="noticeTitle"></ion-input>
                          </ion-item>
                        </ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col size="4" size-sm="12" size-lg="4" size-xl="4">
                          <ion-label class="newNoticeFormLabel">
                            Notice Description
                          </ion-label>
                        </ion-col>
                        <ion-col size="8" size-sm="12" size-lg="8" size-xl="8">
                          <ion-item>
                            <ion-textarea rows=11 style="height: 300px;
                                                        min-width: 100%;" placeholder="Enter Description" formControlName="noticeDescription"></ion-textarea>
                          </ion-item>
                        </ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col size="4" size-sm="12" size-lg="4" size-xl="4">
                          <ion-label class="newNoticeFormLabel">
                            Notice Category
                          </ion-label>
                        </ion-col>
                        <ion-col size="8" size-sm="12" size-lg="8" size-xl="8">
                          <ion-item>
                            <ion-select interface="popover" placeholder="Select Category" style="min-width: 100%;" formControlName="noticeCategory">
                              <ion-select-option *ngFor="let item of publishedNoticeCategories" value="{{ item.payload.doc.data().category }}">
                                {{ item.payload.doc.data().category }}
                              </ion-select-option>
                            </ion-select>
                          </ion-item>
                        </ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col size="4" size-sm="12" size-lg="4" size-xl="4">
                          <ion-label class="newNoticeFormLabel">
                            Notice Recipient
                          </ion-label>
                        </ion-col>
                        <ion-col size="8" size-sm="12" size-lg="8" size-xl="8">
                          <ion-row>
                            <ion-item style="width: 100%;">
                              <ion-select multiple="true" cancelText="Close" okText="SELECT" placeholder="Select Lecturer" style="min-width: 100%;" formControlName="noticeRecipient">
                                <ion-select-option *ngFor="let item of registeredLecturers" value="{{ item.payload.doc.id }}">
                                  {{ item.payload.doc.data().name.prefix }} {{ item.payload.doc.data().name.firstName }} {{ item.payload.doc.data().name.lastName }}
                                </ion-select-option>
                              </ion-select>
                            </ion-item>
                          </ion-row>
                        </ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col size="4" size-sm="12" size-lg="4" size-xl="4">
                          <ion-label class="newNoticeFormLabel">
                            Notice Author
                          </ion-label>
                        </ion-col>
                        <ion-col size="8" size-sm="12" size-lg="8" size-xl="8">
                          <ion-item>
                            <ion-input type="text" value="Program Office: {{ userFaculty }}" readOnly style="min-width: 100%;"></ion-input>
                          </ion-item>
                        </ion-col>
                      </ion-row>

                      <ion-row>
                        <ion-col size="12" size-lg="12" size-xl="6" style="position: relative;
                                                                          left: 50%;
                                                                          transform: translateX(-50%);">
                          <ion-button expand="block" type="submit" [disabled]="!newLecturerNoticeSendForm.valid">
                            Send Notice
                          </ion-button>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </form>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-card-content>
        </ion-card>



        <!-- Notices Sent to Lecturers -->
        <ion-card style="width: 99%;
                          height: 700px;
                          background-color: white;
                          margin-left: 4px;
                          margin-top: 0px;">
            <ion-card-header style="margin-top: 2px;">
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <ion-label style="font-size: 20px;"> 
                      Notices Sent to Lecturers 
                    </ion-label>
                  </ion-col>
                  <ion-col>
                    <ion-item style="margin-top: -12px;
                                    color: black;">
                      <ion-icon name="calendar-outline" style="color: black;"></ion-icon>
                      <ion-label style="margin-left: 10px;">Select Date</ion-label>
                      <ion-datetime value="{{ currentDate }}" (ionChange)="retrieveNoticePOToLecturersSelectedDate($event)"></ion-datetime>
                    </ion-item>
                  </ion-col>
                </ion-row>
              </ion-grid>
              

            </ion-card-header>
            <ion-card-content>

              <div style="border-top: #ccc solid 2px;
                          width: 100%;
                          margin-top: -20px;">
              </div>

              <!-- No Notices Available Text -->
              <div *ngIf="noNoticePOToLecturersText" style="position: absolute;
                                            top: 50px;
                                            left: 50%;
                                            transform: translateX(-50%);">
                <ion-item style="border: #ccc solid 1px;
                                border-radius: 5px;
                                padding: 5px;">
                  <ion-label style="font-size: 17px;">
                    No Notices were sent to lecturers for the selected date
                  </ion-label>
                </ion-item>
              </div>

              <!-- Loading Spinner -->
              <ion-spinner name="dots" style="position: absolute;
                                              left: 50%;
                                              transform: translateX(-50%);
                                              margin-top: 20px;
                                              height: 100px;
                                              width: 100px;" *ngIf="loadingSpinnerPOToLecturer"></ion-spinner>

              <div style="overflow-y: scroll;
                          width: 100%;
                          height: 610px;">
                <ion-grid>
                  <ion-row>
                    <ion-col size="6" *ngFor="let list of publishedPOLecturerNotices">

                      <ion-card>
                        <ion-card-header>
                          <ion-card-title>
                            {{ list.payload.doc.data().noticeTitle }}
                          </ion-card-title>
                          <ion-card-subtitle>
                            {{ list.payload.doc.data().noticeDescription }}
                          </ion-card-subtitle>
                        </ion-card-header>
                        <ion-card-content>
                          <ion-label>
                            <b>Notice Category: </b>
                            {{ list.payload.doc.data().noticeCategory }} <br>
                          </ion-label>
                          <ion-label>
                            <b>Notice Published: </b> <br>
                            {{ list.payload.doc.data().noticeCreatedInfo.createdDateTime.toDate() | date: 'dd-MM-yyyy | h:mm a'}} 
                          </ion-label>
                          <ion-grid>
                            <ion-row>
                              <ion-col style="width: 45px;">
                                <ion-button size="small" shape="round" size="small" style="width: 100%;
                                                                                          height: 40px;" (click)="moreDetailsNotice($event, list)">
                                  <ion-icon name="document-text-outline"></ion-icon>
                                  <ion-label style="color: white;
                                                    margin-left: 5px;">
                                    More
                                  </ion-label>
                                </ion-button>
                              </ion-col>
                              <ion-col style="width: 45px;">
                                <ion-button size="small" shape="round" color="warning" size="small" style="width: 100%;
                                                                                                         height: 40px;">
                                  <ion-icon name="create-outline" style="color: white;"></ion-icon>
                                  <ion-label style="color: white;
                                                    margin-left: 5px;">
                                    Edit
                                  </ion-label>
                                </ion-button>
                              </ion-col>
                            </ion-row>
                            <ion-row>
                              <ion-col>
                                <ion-button size="small" shape="round" color="danger" size="small" style="min-width: 100%;
                                                                                                          height: 40px;">
                                  <ion-icon name="trash-outline"></ion-icon>
                                  <ion-label style="color: white;
                                                    margin-left: 5px;">
                                    Remove
                                  </ion-label>
                                </ion-button>
                              </ion-col>
                            </ion-row>
                          </ion-grid>
                        </ion-card-content>
                      </ion-card>

                    </ion-col>
                  </ion-row>
                </ion-grid>
              </div>



            </ion-card-content>
          </ion-card>


      </ion-col>
      <ion-col size="12" size-lg="12" size-xl="6">
        
        <ion-row>

          <ion-col>

            <!-- Notices From Lecturers -->
            <ion-card style="width: 99%;
                            height: 700px;
                            background-color: white;
                            margin-left: 4px;
                            margin-top: 10px;">
              <ion-card-header style="margin-top: 2px;">
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      <ion-label style="font-size: 20px;"> 
                        Notices From Lecturers 
                      </ion-label>
                    </ion-col>
                    <ion-col>
                      <ion-item style="margin-top: -12px;
                                      color: black;">
                        <ion-icon name="calendar-outline" style="color: black;"></ion-icon>
                        <ion-label style="margin-left: 10px;">Select Date</ion-label>
                        <ion-datetime value="{{ currentDate }}" (ionChange)="retrieveNoticeLecturersToPOSelectedDate($event)"></ion-datetime>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                </ion-grid>
                  

              </ion-card-header>
              <ion-card-content>

                <div style="border-top: #ccc solid 2px;
                            width: 100%;
                            margin-top: -20px;">
                </div>

                <!-- No Notices Available Text -->
                <div *ngIf="noNoticeLecturersToPOText" style="position: absolute;
                                            top: 50px;
                                            left: 50%;
                                            transform: translateX(-50%);">
                  <ion-item style="border: #ccc solid 1px;
                                  border-radius: 5px;
                                  padding: 5px;">
                    <ion-label style="font-size: 17px;">
                      No Notices were sent from lecturers for the selected date
                    </ion-label>
                  </ion-item>
                </div>

                <!-- Loading Spinner -->
                <ion-spinner name="dots" style="position: absolute;
                                                left: 50%;
                                                transform: translateX(-50%);
                                                margin-top: 20px;
                                                height: 100px;
                                                width: 100px;" *ngIf="loadingSpinnerLecturerToPO"></ion-spinner>

                <div style="overflow-y: scroll;
                              width: 100%;
                              height: 610px;">
                    <ion-grid>
                      <ion-row>
                        <ion-col size="6" *ngFor="let list of publishedLecturerPONotices">

                          <ion-card style="height: auto;">
                            <ion-card-header>
                              <ion-card-title>
                                {{ list.payload.doc.data().noticeTitle }}
                              </ion-card-title>
                              <ion-card-subtitle>
                                {{ list.payload.doc.data().noticeDescription }} 
                              </ion-card-subtitle>
                            </ion-card-header>
                            <ion-card-content>
                              <ion-grid>
                                <ion-row>
                                  <ion-col size="6">
                                    <ion-label>
                                      <b>Notice Category: </b>
                                    </ion-label>
                                  </ion-col>
                                  <ion-col size="6">
                                    <ion-label>
                                      {{ list.payload.doc.data().noticeCategory }}
                                    </ion-label>
                                  </ion-col>
                                </ion-row>
                                <ion-row>
                                  <ion-col size="6">
                                    <ion-label>
                                      <b>Sent Date Time:</b>
                                    </ion-label>
                                  </ion-col>
                                  <ion-col size="6">
                                    <ion-label>
                                      {{ list.payload.doc.data().noticeCreatedInfo.createdDateTime.toDate() | date: 'dd-MM-yyyy | h:mm a'}} 
                                    </ion-label>
                                  </ion-col>
                                </ion-row>
                                <ion-row>
                                  <ion-col size="12" style="display: inline;" id="noticeReadButton">
                                    <div style="width: 100%;
                                                height: 48px;">
                                      <ion-button size="small" shape="round"style="width: 96.7%;
                                                                                  height: 40px;
                                                                                  position: absolute;
                                                                                  left: 50%;
                                                                                  transform: translateX(-50%);" (click)="markAsRead(item)">
                                        <ion-icon name="checkmark-done-outline" style="color: white;
                                                                                      margin-right: 5px;"></ion-icon>
                                        <ion-label style="color: white;">
                                          MARK AS READ
                                        </ion-label>
                                      </ion-button>
                                    </div>
                                  </ion-col>
                                  <ion-col size="12" style="width: 100%;
                                                            display: none;" id="noticeUnreadButton">
                                    <ion-button size="small" shape="round" style="width: 100%;
                                                                                  height: 40px;
                                                                                  position: relative;
                                                                                  left: 50%;
                                                                                  transform: translateX(-50%);" color="medium" (click)="markAsUnread(item)">
                                      <ion-icon name="arrow-undo-outline" style="color: white;
                                                                                margin-right: 5px;"></ion-icon>
                                      <ion-label style="color: white;">
                                        MARK AS UNREAD        
                                      </ion-label>
                                    </ion-button>
                                  </ion-col>
                                </ion-row>
                              </ion-grid>

                            </ion-card-content>
                          </ion-card>

                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </div>
                

              </ion-card-content>
            </ion-card>


          </ion-col>

        </ion-row>
        <ion-row>

          <ion-col>

             <!-- Notices Sent to Students -->
              <ion-card style="width: 99%;
                              height: 830px;
                              background-color: white;
                              margin-left: 4px;
                              margin-top: 0px;">
                <ion-card-header style="margin-top: 2px;">
                  <ion-grid>
                    <ion-row>
                      <ion-col>
                        <ion-label style="font-size: 20px;"> 
                          Notices Sent to Students 
                        </ion-label>
                      </ion-col>
                      <ion-col>
                        <ion-item style="margin-top: -12px;">
                          <ion-icon name="calendar-outline" style="color: black;"></ion-icon>
                          <ion-label style="margin-left: 10px;">Select Date</ion-label>
                          <ion-datetime value="{{ currentDate }}" (ionChange)="retrieveNoticePOToStudentsSelectedDate($event)"></ion-datetime>
                        </ion-item>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                  

                </ion-card-header>
                <ion-card-content>

                  <div style="border-top: #ccc solid 2px;
                              width: 100%;
                              margin-top: -20px;">
                  </div>

                  <!-- No Notices Available Text -->
                  <div *ngIf="noNoticePOToStudentsText" style="position: absolute;
                                            top: 50px;
                                            left: 50%;
                                            transform: translateX(-50%);">
                    <ion-item style="border: #ccc solid 1px;
                                    border-radius: 5px;
                                    padding: 5px;">
                      <ion-label style="font-size: 17px;">
                        No Notices were sent to students for the selected date
                      </ion-label>
                    </ion-item>
                  </div>

                  <!-- Loading Spinner -->
                  <ion-spinner name="dots" style="position: absolute;
                                                  left: 50%;
                                                  transform: translateX(-50%);
                                                  margin-top: 20px;
                                                  height: 100px;
                                                  width: 100px;" *ngIf="loadingSpinnerPOToStudent"></ion-spinner>

                  <div style="overflow-y: scroll;
                              width: 100%;
                              height: 740px;">
                    <ion-grid>
                      <ion-row>
                        <ion-col size="6" *ngFor="let list of publishedPOStudentNotices">

                          <ion-card>
                            <ion-card-header>
                              <ion-card-title>
                                {{ list.payload.doc.data().noticeTitle }}
                              </ion-card-title>
                              <ion-card-subtitle>
                                {{ list.payload.doc.data().noticeDescription }}
                              </ion-card-subtitle>
                            </ion-card-header>
                            <ion-card-content>
                              <ion-label>
                                <b>Notice Category: </b>
                                {{ list.payload.doc.data().noticeCategory }} <br>
                              </ion-label>
                              <ion-label>
                                <b>Notice Published: </b> <br>
                                {{ list.payload.doc.data().noticeCreatedInfo.createdDateTime.toDate() | date: 'dd-MM-yyyy | h:mm a'}} 
                              </ion-label>
                              <ion-grid>
                                <ion-row>
                                  <ion-col style="width: 45px;">
                                    <ion-button size="small" shape="round" size="small" style="width: 100%;
                                                                                              height: 40px;" (click)="moreDetailsNotice($event, list)">
                                      <ion-icon name="document-text-outline"></ion-icon>
                                      <ion-label style="color: white;
                                                        margin-left: 5px;">
                                        More
                                      </ion-label>
                                    </ion-button>
                                  </ion-col>
                                  <ion-col style="width: 45px;">
                                    <ion-button size="small" shape="round" color="warning" size="small" style="width: 100%;
                                                                                                             height: 40px;">
                                      <ion-icon name="create-outline" style="color: white;"></ion-icon>
                                      <ion-label style="color: white;
                                                        margin-left: 5px;">
                                        Edit
                                      </ion-label>
                                    </ion-button>
                                  </ion-col>
                                </ion-row>
                                <ion-row>
                                  <ion-col>
                                    <ion-button size="small" shape="round" color="danger" size="small" style="min-width: 100%;
                                                                                                              height: 40px;">
                                      <ion-icon name="trash-outline"></ion-icon>
                                      <ion-label style="color: white;
                                                        margin-left: 5px;">
                                        Remove
                                      </ion-label>
                                    </ion-button>
                                  </ion-col>
                                </ion-row>
                              </ion-grid>
                            </ion-card-content>
                          </ion-card>

                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </div>

                </ion-card-content>
              </ion-card>

          </ion-col>
        </ion-row>

      </ion-col>
    </ion-row>



  </ion-grid>





</ion-content>
