<ion-app>
  

  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Extenuating Circumstances Form</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-card class="card">
        <ion-card-title>
          <ion-card-header>EC-Form</ion-card-header>
        </ion-card-title>
        <ion-card-content>
          <ion-grid fixed>
            <ion-row>
              <ion-col>
            <ion-item>
              <ion-label position="floating" color="primary">Name</ion-label>
              <ion-input type="text" placeholder="Enter Your Name" [(ngModel)]="Name">
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating" color="primary">Faculty</ion-label>
              <ion-select interface="action-sheet" [(ngModel)]="Faculty" value="">
                <ion-select-option value="SOB">School of Business</ion-select-option>
                <ion-select-option value="SOC">School of Computing</ion-select-option>
                <ion-select-option value="SOE">School of Engineering</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label position="floating" color="primary">Lecturer Email</ion-label>
              <ion-input type="text" placeholder="Enter Lecturer Email" [(ngModel)]="LecturerEmail" ngModel pattern="(\W|^)[\w.+\-]*@(students.nsbm)\.lk(\W|$)">
              </ion-input>
            </ion-item>
                <p><i>Warning: If the entered email address is incorrect your EC-Forms will not be processed !</i></p>
        <ion-item>
          <ion-label position="floating" color="primary">Message</ion-label>
          <ion-textarea type="text" placeholder="Enter Your Message" [(ngModel)]="Message">
          </ion-textarea>
        </ion-item>
            <ion-button (click)="sendEC()" color="success" [disabled]="!Name || !Faculty || !Message">Send Form</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-content>
  </div>
</ion-app>