<ion-header style="height: 6%;">
  <ion-toolbar>


    <!-- This will add a button to show the side menu when the side menu is hidden in small screens -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    
    <ion-title style="position: absolute;
                      top: 40%;">Student Attendance</ion-title>

    <!-- Header Contents Section -->
    <div style="position: absolute;
                right: 5px;
                top: 8px;">
      <!-- Notification Bell, Unread Notifications Count, Drop Down -->          

      <ion-button fill="clear" color="dark" style="width: 100px;
                                                  height: 45px;
                                                  background-color: white;" (click)="openNotificationPopover($event)">

        <!-- Notification Bell Icon -->
        <div style="height: 42px;
                  width: 42px;"> 
          <ion-icon name="notifications-outline" style="font-size: 35px;
                                                        position: absolute;
                                                        top: 5px;
                                                        left: 0px;"></ion-icon>
        </div>

          <!-- Arrow Icon -->
        <div style="position: absolute;
                    left: 50px;
                    top: 10px;
                    font-size: 26px;">
          <ion-icon name="arrow-down-outline"></ion-icon>
        </div>
        
      </ion-button>

    </div>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>

    <ion-row>

      <ion-col size="6">

        <ion-row>
          <ion-col>

            <ion-card style="height: 300px;">
              <ion-card-header>
                <ion-card-title>
                  Today's Latest Analytics
                </ion-card-title>
              </ion-card-header>
              <ion-card-content>

                <ion-label style="position: absolute;
                                  left: 50%;
                                  top: 50%;
                                  transform: translate(-50%,-50%);
                                  font-size: 18px;">
                  <b>In Development</b>
                </ion-label>

              </ion-card-content>
            </ion-card>

          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>

            <ion-card>
              <ion-card-header>
                <ion-card-title style="height: 300px;">
                  Students Absence Overdue
                </ion-card-title>
              </ion-card-header>
              <ion-card-content>

                <ion-label style="position: absolute;
                                  left: 50%;
                                  top: -100px;
                                  transform: translateX(-50%);
                                  font-size: 18px;">
                  <b>In Development</b>
                </ion-label>

              </ion-card-content>
            </ion-card>

          </ion-col>
        </ion-row>

      </ion-col>
      <ion-col size="6">

        <ion-row>
          <ion-col>

            <ion-card>
              <ion-card-header>
                <ion-card-title>
                  Attendance Statictics 
                </ion-card-title>
              </ion-card-header>
              <ion-card-content>

                <ion-grid>
                  <ion-row>
                    <ion-col>
                      <ion-card style="height: 200px;">
                        <ion-card-header>
                          <ion-card-title>
                            Per Module
                          </ion-card-title>
                        </ion-card-header>
                        <ion-card-content>
          
                          <ion-label style="position: absolute;
                                            left: 50%;
                                            top: 50%;
                                            transform: translate(-50%,-50%);
                                            font-size: 18px;">
                            <b>In Development</b>
                          </ion-label>
          
                        </ion-card-content>
                      </ion-card>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <ion-card style="height: 200px;">
                        <ion-card-header>
                          <ion-card-title>
                            Per Student
                          </ion-card-title>
                        </ion-card-header>
                        <ion-card-content>
          
                          <ion-label style="position: absolute;
                                            left: 50%;
                                            top: 50%;
                                            transform: translate(-50%,-50%);
                                            font-size: 18px;">
                            <b>In Development</b>
                          </ion-label>
          
                        </ion-card-content>
                      </ion-card>
                    </ion-col>
                  </ion-row>
                </ion-grid>

              </ion-card-content>
            </ion-card>

          </ion-col>
        </ion-row>


      </ion-col>

    </ion-row>

  </ion-grid>




</ion-content>
